body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width:13px;
    background-color:aliceblue;
}
::-webkit-scrollbar-thumb{
    width: 47px;
    background-color:rgba(47, 255, 0, 0.974);
}
.nav{
    position:fixed;
    top:0;
    width:95%;
    background-color:rgb(196, 250, 255);
    display: inline-block;
    align-items: center;
    justify-content:left;
    padding: 0rem 1.4rem;
    
}
.nav>h3>a{
    padding-left:40px;
    font-size: 20px;
    color:blue;
}
.nav>h3>a:hover{
    color:rgba(0, 34, 255, 0.775);
    transition: 0.6s;
}
.list{
    margin-right: 4rem;
    padding-left: 1300px;
    margin:auto;
    text-orientation:sideways-right;
    text-align: right;
    text-decoration: dashed;
    text-emphasis-style: inline block;

}
.list{
    display:inline-block;
    
}
.list>li{
    list-style:none;
    display:inline-block;
    margin: 5px 20px;
    position:fixed;
}
.list>li>a{
    color:black;
    font-size: 24px;
    transition: 0.6s;
}
.list>li>a:hover{
    color:rgba(0, 0, 255, 0.647);
    transition: 0.6s;
}
.list>li::after{
    height: 4px;
    width: 0px;
    background:black;
    position:absolute;
    left:1;
    bottom:-10px;
    transition: 0.6s;
}

.list>li>:hover::after{
    width: 100%;

}

@media only screen and(max-width:1024px){
    nav>ul{
        display:nonne;
    }
}
.HOME{
    text-align: center;
    padding: 14em 0em 10em 0em;
}
.HOME>div{
    text-align: center;
}

.HOME h3{
    font-size: 30px;
}
.HOME{
    margin-bottom: 2em;
    padding: 3em oem;
}
.HOME h2{
    font-size: 53px;
}
.ABOUTME{
    margin-bottom: 2em;
    padding: 3em oem;
}
.ABOUTME>h3{
    font-size: 35px;
    text-align: center;
    margin-bottom: 2em;
}
.ABOUTME>h1{
    font-size:x-large;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: underline;
    text-decoration: dashed;
    text-decoration-style: dashed;
    margin-bottom: 3em;
    

}
.ABOUTME>h1>i{
    font-size: 45px;
}
.ABOUTME>div>div{
    display: grid;
    grid-template-columns: [one]40% [two] 60%;
    
}
.ABOUTME>div>div{
    margin-left : 100px;
}
.ABOUTME_img>img{
    margin-left: 10em;
    width: 25em;
    border-radius: 23px;
}
.ABOUTME_details{
    padding-left:-23em;

}
.ABOUTME_details h3{
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    align-items: center;
    padding-left:650px;
    margin-top: 25px;
    -ms-grid-column-align: center;
    align-self:flex-start;
    padding-bottom: 43px;
    font-display: grid;
    transform:translateY(-550%);
}
.ABOUTME_details>p{
    font-weight: bolder;
    align-items:center;
    padding-left:650px;
    font-display:grid;
    font-size: x-large;
    transform:translateY(-986%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.ABOUTME_details h5{
    padding-right: 10em;
    padding-left:12em;
    font-weight: 20px;
    font-weight: lighter;
    color:rgb(10, 10, 10);
    align-items:center;
    padding-left:640px;
    transform: translateY(-860%);
    font-size-adjust: inherit;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;

}
.ABOUTME_contact{
    display: grid;
    padding-left: 524px;
    font-size:x-large;
    font-weight: lighter;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: translateY(-170%);
    text-align: center;
    display:inline-block;

}
.SKILLSET{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
    font-size:40px;
    font-weight: bolder;
    text-align:center;
    transform: translateY(-65%);
    display:block;
    text-decoration-line: underline;
    color: black;
    
}
.SKILLSET_subtitle{
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    font-size:24px;
    text-align: center;
    font-weight:lighter;
    display:contents;
    text-decoration-color: rgb(218, 5, 5);
    color:rgb(218, 5, 5);
}
.SKILLSET_details{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    display:inline-block;
    text-align:center;
    font-style: italics;
    transform: translateY(-20%);
    color:blue;
    text-decoration-color: blue;

}
.SKILLSET_details>h5{
    font-size-adjust: inherit;
    font-style: italic;
    font-size:18px;
    color: black;
}
.SKILLSET_names{
    text-align:left;
    padding-right: 1228px;
    font-weight: 200;
    display:flex;
    transform:translateY(150%);
    color:blue;
    text-decoration-color: blue;
    
}
.CONTACT{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
    font-size:40px;
    font-weight: bolder;
    transform: translateY(-120%);
    text-decoration-color: black;
    text-decoration-line: underline;
    color: black;
    
}
.CONTACT_form{
    border-color: black;
    color:azure;
    
}
.CONTACT_input{
    text-align:left;
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 630px;
    text-size-adjust: 24px;
    text-decoration-style: double;
    
}
.CONTACT_input,.CONTACT_input>textarea{
    width: 700em;
    height: 40px;
    font-size: 19px;
    word-spacing: normal;
    border: 1px solid black;
    border-radius:4px;
    text-indent:50px;
    
}

.CONTACT_input>textarea{
    width:300em;
    height:80px;
    text-indent:50px;
    padding:20px;
    
}
.CONTACT_submit{
    text-align:absolute;
}
.CONTACT_submit>input{
    width: 8em;
    height:45px;
    padding-right: 5px;
    font-size: 19px;
    font-weight: 400;
    background-color:crimson;
    color:white;
    border:1px solid crimson;
    border-radius: 9px;
    cursor: pointer;
}

.footer_content{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding-left: 8em;
}

.footer_content>div{
    width: 40%;
    display:flex;
    flex-direction: column;
}
.footer_about>p{
    margin-right:4em;
    color: greenyellow;
    font-size:19px;
}
.footer_links>a{
    font-weight:bold;
    font-size: 20px;
    padding:8px 0px;
    color:blue;
    transition:0.6s;
}




